.calendarContainerDiv {
    width: 100%;
    height: 90%;
}

.calendarCellDiv {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.conferenceCalenderEventList {
    font-weight: bold;
}

.conferenceCalenderEventList li {
    list-style: none;
}

.conferenceCalenderEventList li:hover {
    list-style: none;
}