.calendarContainerContainer {
    width: 100%;
    height: 90%;
}

.calendarCellContainer {
    width: 100%;
    height: 100%;
    border: 2px solid black;
    cursor: default;
}

.conferenceCalenderEventList {
    font-weight: bold;
}

.conferenceCalenderEventList li {
    list-style: none;
    cursor: pointer;
}